.bigbutton {
	padding: 4px;
	font-size: 25px;
	margin: 15px 5px;
	color: white;
	background-color: #3333ff;
	text-decoration: none;
}

.center {
	text-align: center;
}

body {
	font-size: 12pt;
	color: #cccc00;
	font-family: Times New Roman,serif;
	background-color: black;
}

code {
	color: #c0c0c0;
	font-style: normal;
	font-family: Courier New,Courier,monospace;
}

em {
	font-size: 14pt;
	font-weight: bold;
	color: red;
	font-style: normal;
}

pre span {
	font-family: initial;
}

h1 {
	font-size: 36pt;
	color: yellow;
	font-style: italic;
	font-family: Arial,sans-serif;
	text-align: center;
}

h2 {
	font-size: 18pt;
	color: red;
}

h3 {
	font-size: 14pt;
	margin: 10px;
	color: yellow;
}

a:link {
	color: #3333ff;
}

a:visited {
	color: teal;
}

a:active {
	color: aqua;
}
